services:
  backend:
    build: ./backend
    container_name: simple-blog-backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080

  frontend:
    build: ./frontend
    container_name: simple-blog-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8080
    depends_on:
      - backend
